<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0">
    <title>Starter Template - Materialize</title>

    <!-- CSS  -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="./css/materialize.min.css">

 
</head>

<body>
    <nav class="light-blue lighten-1" role="navigation">
        <div class="nav-wrapper container"><a id="logo-container" href="#" class="brand-logo">Expenses</a>
            <ul class="right hide-on-med-and-down">
                <% if (user.isAdmin) { %>
                    <li><a href="/manage">Manage</a></li>
                    <% } %>
                <li><a href="/incomes">Incomes</a></li>
                <li><a href="/chart">Charts</a></li>
                <li><a href="/profile">Profile</a></li>
                <li><a href="/logout">Logout</a></li>
                
            </ul>

            <ul id="nav-mobile" class="sidenav">
                <% if (user.isAdmin) { %>
                    <li><a href="/manage">Manage</a></li>
                    <% } %>
                <li><a href="/incomes">Incomes</a></li>
                <li><a href="/chart">Charts</a></li>
                <li><a href="/profile">Profile</a></li>
                <li><a href="/logout">Logout</a></li>
                
            </ul>
            <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        </div>
    </nav>

    <div class="container">
        <div class="row"></div>
        <div class="row"></div>
        <table>
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Description</th>
                    <th>Amount</th>
                    <th>Category</th>
                    <th>Actions</th>
                </tr>
            </thead>

            <tbody>
                <% if (expenses) { %>
                <% expenses.forEach(function(expense){ %>
                <tr>
                    <td style="display:none" id="expenseID"><%= expense.id %></td>
                    <td><%= expense.date %></td>
                    <td><%= expense.description %></td>
                    <td><%= expense.amount %></td>
                    <td><%= expense.category %></td>
                    <td> <a class="modal-trigger" href="#editModal"> <i class="material-icons edit-btn">edit</i> </a>
                        <i class="material-icons delete-btn">delete</i></td>
                    <!-- <h4><%= expense.a %></h4> -->
                </tr>
                <% }); %>

                <% } %>
            </tbody>
        </table>



        <!-- Modal Structure -->
        <div id="modal1" class="modal">
            <div class="modal-content">
                <h4>Create new Expense</h4>

                <div class="row">
                    <form class="col s12" action="/expenses" method="POST">
                        <input type="hidden" value="foo" name="id" />
                        <div class="row">
                            <div class="input-field col s6">
                                <input id="description" name="description" type="text" required>
                                <label for="description">Description</label>
                            </div>
                            <div class="input-field col s6">
                                <input id="amount" name="amount" type="number" class="validate" required>
                                <label for="amount">Amount</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12">
                                <input id="date" name="date" type="text" class="datepicker" required>
                                <label for="date">Date</label>
                            </div>
                        </div>
                        <div class="row">
                            <!-- <div class="input-field col s12">
                                <input id="category" name="category" type="text">
                                <label for="category">Category</label>
                            </div> -->
                            
                            <div class="input-field col s12">
                                <select name="categoryID" required>
                                  <option value="" disabled selected>Choose category</option>
                                  <% if (categories) { %>
                                    <% categories.forEach(function(category){ %>
                                    <option value=<%=category.id%>><%= category.name %></option>    
                                    <% }); %>
                    
                                    <% } %>
                                  
                                </select>
                                <label>Select Category</label>
                            </div>
                        </div>
                        <input type="submit" value="Submit">
                    </form>
                </div>

            </div>
        </div>

        <!-- Modal Structure -->
        <div id="editModal" class="modal">
                <div class="modal-content">
                    <h4>Edit Expense</h4>
    
                    <div class="row">
                        <form class="col s12" action="/expenses/modify" method="POST">
                            <!-- <input type="hidden" name="id" /> -->
                            <input type="hidden" value="foo" name="id" />
                                    
                            <div class="row">
                                <div class="input-field col s6">
                                    <input id="description" name="description" type="text" required>
                                    <label for="description">Description</label>
                                </div>
                                <div class="input-field col s6">
                                    <input id="amount" name="amount" type="number" class="validate" required>
                                    <label for="amount">Amount</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s12">
                                    <input id="date" name="date" type="text" class="datepicker" required>
                                    <label for="date">Date</label>
                                </div>
                            </div>
                            <div class="row">
                                <!-- <div class="input-field col s12">
                                    <input id="category" name="category" type="text">
                                    <label for="category">Category</label>
                                </div> -->
                                
                                <div class="input-field col s12">
                                    <select name="categoryID" id="categorySelect" required>
                                      <option value="" disabled selected>Choose category</option>
                                      <% if (categories) { %>
                                        <% categories.forEach(function(category){ %>
                                        <option value=<%=category.id%>><%= category.name %></option>    
                                        <% }); %>
                        
                                        <% } %>
                                      
                                    </select>
                                    <label>Select Category</label>
                                </div>
                            </div>
                            <input type="submit" value="Submit">
                        </form>
                    </div>
    
                </div>
            </div>


        <div class="fixed-action-btn">
            <a class="btn-floating btn-large blue">
                <i class="large material-icons modal-trigger" href='#modal1'">add</i>
            </a>
        </div>
    </div>


    <!--  Scripts-->
    <script>
        var test = '<%- JSON.stringify(expenses) %>'; // test is now a valid js object
    </script>
    <script src="./js/jquery.min.js"></script>
    <script src="./js/materialize.min.js"></script>
    <script src="./js/common.js"></script>
    <script src="./js/expenses.js"></script>



</body>

</html>